body {
    background-color: rgb(191, 162, 140);
}

footer {
    background-color: rgb(186, 191, 148);
    color: white;
    text-align: center;
    border-radius: 8px;
}

h1 {
    color: white;
    letter-spacing: 5px;
}

h3 {
    background-color: rgb(186, 191, 148);
    color: white;
}

form {
    color: white;
}