body {
    background-color: rgb(191, 162, 140);
}

h1 {
    background-color: rgb(186, 191, 148);
    color: white;
    margin: 5px;
    letter-spacing: 5px;
}

p {
    color: white;
    margin: 5px;
}

h2 {
    background-color: rgb(186, 191, 148);
    color: white;
    margin: 5px;
    letter-spacing: 5px;
}

table, th, td {
    border-color: rgb(243, 228, 201);
    border-style: solid;
    border-radius: 4px;
    height: 100px;
    width: 500px;
    padding: 6px;
}

td, th {
    color: white;
    margin: 4px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(186, 191, 148);
}

li {
    color: white;
}

.conteiner {
    cursor: pointer;
    overflow-x: auto;
}

IMG {
    height: 200PX;
    width: 250PX;
    margin: 20PX;
}